/target/
/node/
/node_modules/

# For the runtime docker-compose
/runtime/graylog/plugin/
/runtime/.env

# For backend tests in python
/validation/graylog/__pycache__/
/validation/server/__pycache__/
/validation/server/venv/
/validation/end_to_end/__pycache__/
/validation/end_to_end/venv/

# IDE
.idea
*.iml